<link rel="import" href="../bower_components/vaadin-charts/theme/vaadin-chart-default-theme.html">
<custom-style>
  <style>
        .header {
 		    background-color: var(--lumo-tint-20pct)  !important;
 		    color: var(--lumo-primary-text-color) !important;
 		}
		
 		.navigation {
 		    background-color: var(--lumo-tint-30pct) !important;
 		} 
		
 		.content {
 		    background-color: var(--lumo-tint-40pct) !important;
 		}
		
 		.footer {
 		    background-color: var(--lumo-tint-50pct) !important;
 		}

html {
  --limit-field-color:rgb(227, 43, 83);
  --vaadin-charts-color-0: #E6C317;
  --vaadin-charts-color-1: #7997F2;
  --vaadin-charts-color-2: #C2F261;
  --vaadin-charts-color-3: #D96C57;
  --vaadin-charts-color-4: #5C81CC;
  --vaadin-charts-color-5: #39BF87;
  --vaadin-charts-color-6: #E695AC;
  --vaadin-charts-color-7: #75D0FF;
  --vaadin-charts-color-8: #904FB0;
  --vaadin-charts-color-9: #A6EDD9;

  --lumo-size-xl: 2.0rem;
  --lumo-size-l: 1.75rem;
  --lumo-size-m: 1.5rem;
  --lumo-size-s: 1.25rem;
  --lumo-size-xs: 1.0rem;
  --lumo-space-xl: 1.0em;
  --lumo-space-l: 0.5rem;
  --lumo-space-m: 0.3rem;
  --lumo-space-s: 0.2rem;
  --lumo-space-xs: 0.1rem;
  --lumo-font-size: 1rem;
  --lumo-font-size-xxxl: 1.375rem;
  --lumo-font-size-xxl: 1.125rem;
  --lumo-font-size-xl: 1rem;
  --lumo-font-size-l: 0.875rem;
  --lumo-font-size-m: 0.75rem;
  --lumo-font-size-s: 0.6875rem;
  --lumo-font-size-xs: 0.625rem;
  --lumo-font-size-xxs: 0.625rem;
  --lumo-font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif !important;
  --lumo-shade-5pct: rgba(26, 26, 26, 0.05);
  --lumo-shade-10pct: rgba(26, 26, 26, 0.1);
  --lumo-shade-20pct: rgba(26, 26, 26, 0.2);
  --lumo-shade-30pct: rgba(26, 26, 26, 0.3);
  --lumo-shade-40pct: rgba(26, 26, 26, 0.4);
  --lumo-shade-50pct: rgba(26, 26, 26, 0.5);
  --lumo-shade-60pct: rgba(26, 26, 26, 0.6);
  --lumo-shade-70pct: rgba(26, 26, 26, 0.7);
  --lumo-shade-80pct: rgba(26, 26, 26, 0.8);
  --lumo-shade-90pct: rgba(26, 26, 26, 0.9);
  --lumo-primary-text-color: rgb(235, 89, 5);
  --lumo-primary-color-50pct: rgba(235, 89, 5, 0.5);
  --lumo-primary-color-10pct: rgba(235, 89, 5, 0.1);
  --lumo-error-text-color: rgb(231, 24, 24);
  --lumo-error-color-50pct: rgba(231, 24, 24, 0.5);
  --lumo-error-color-10pct: rgba(231, 24, 24, 0.1);
  --lumo-success-text-color: rgb(62, 229, 170);
  --lumo-success-color-50pct: rgba(62, 229, 170, 0.5);
  --lumo-success-color-10pct: rgba(62, 229, 170, 0.1);
  --lumo-shade: hsl(0, 0%, 10%);
  --lumo-primary-color: hsl(22, 96%, 47%);
  --lumo-error-color: hsl(0, 81%, 50%);
  --lumo-success-color: hsl(159, 76%, 57%);
  --lumo-success-contrast-color: hsl(159, 29%, 10%);
}

[theme~="dark"] {
  --lumo-tint-5pct: rgba(244, 238, 225, 0.05);
  --lumo-tint-10pct: rgba(244, 238, 225, 0.1);
  --lumo-tint-20pct: rgba(244, 238, 225, 0.2);
  --lumo-tint-30pct: rgba(244, 238, 225, 0.3);
  --lumo-tint-40pct: rgba(244, 238, 225, 0.4);
  --lumo-tint-50pct: rgba(244, 238, 225, 0.5);
  --lumo-tint-60pct: rgba(244, 238, 225, 0.6);
  --lumo-tint-70pct: rgba(244, 238, 225, 0.7);
  --lumo-tint-80pct: rgba(244, 238, 225, 0.8);
  --lumo-tint-90pct: rgba(244, 238, 225, 0.9);
  --lumo-shade-5pct: rgba(44, 38, 22, 0.05);
  --lumo-shade-10pct: rgba(44, 38, 22, 0.1);
  --lumo-shade-20pct: rgba(44, 38, 22, 0.2);
  --lumo-shade-30pct: rgba(44, 38, 22, 0.3);
  --lumo-shade-40pct: rgba(44, 38, 22, 0.4);
  --lumo-shade-50pct: rgba(44, 38, 22, 0.5);
  --lumo-shade-60pct: rgba(44, 38, 22, 0.6);
  --lumo-shade-70pct: rgba(44, 38, 22, 0.7);
  --lumo-shade-80pct: rgba(44, 38, 22, 0.8);
  --lumo-shade-90pct: rgba(44, 38, 22, 0.9);
  --lumo-primary-text-color: rgb(215, 164, 45);
  --lumo-primary-color-50pct: rgba(215, 164, 45, 0.5);
  --lumo-primary-color-10pct: rgba(215, 164, 45, 0.1);
  --lumo-error-text-color: rgb(227, 43, 83);
  --lumo-error-color-50pct: rgba(227, 43, 83, 0.5);
  --lumo-error-color-10pct: rgba(227, 43, 83, 0.1);
  --lumo-success-text-color: rgb(112, 176, 39);
  --lumo-success-color-50pct: rgba(112, 176, 39, 0.5);
  --lumo-success-color-10pct: rgba(112, 176, 39, 0.1);
  --lumo-base-color: #2D2C29;
  --lumo-tint: #f4eee1;
  --lumo-shade: hsl(42, 33%, 13%);
  --lumo-primary-color: #d7a42d;
  --lumo-error-color: #e32b53;
  --lumo-success-color: #70b027;
  --lumo-header-text-color: #E6BE5F;
  --lumo-primary-contrast-color: #2D2C29;
  --lumo-error-contrast-color: #2D2C29;
  --lumo-success-contrast-color: #2D2C29;
}

  </style>
</custom-style>


<dom-module id="text-field-style" theme-for="vaadin-text-field">
  <template>
    <style>
      [part="input-field"] {
        box-shadow: inset 0 0 0 1px var(--lumo-contrast-30pct) !important;
        background-color: var(--lumo-base-color) ! !important;
      }

      :host([invalid]) [part="input-field"] {
        box-shadow: inset 0 0 0 1px var(--lumo-error-color) !important;
      }
    
    </style>
  </template>
</dom-module>

<dom-module id="dark-style-example" theme-for="vaadin-chart">
   <template>
     <style include="vaadin-chart-default-theme">
       .highcharts-title {
         fill: var(--lumo-tint-50pct);
       }

       .highcharts-background {
         fill: var(--lumo-tint-10pct);
       }

       .highcharts-subtitle {
         fill: var(--lumo-primary-text-color);
       }

       .highcharts-data-label text {
         fill: var(--lumo-primary-text-color);
       }
       
       .highcharts-legend-item text {
         fill: var(--lumo-primary-text-color);
       }

		.highcharts-yaxis-grid .highcharts-grid-line {
  			stroke-width: 0;
		}    
     </style>
   </template>
</dom-module>

<dom-module theme-for="vaadin-text-field" id="limit-field">
    <template>
        <style>
            :host(.limit-field) {
                width: 100%;
                height: 30px;
            }
            :host(.limit-field) [part="value"]{
                color:var(--limit-field-color);
 		        text-align: right;
            }
            :host(.limit-field) [part="label"]{
 		        padding-right: 5px;
            }
            :host(.limit-field) .vaadin-text-field-container {
                flex-direction: row;
            }
        </style>
    </template>
</dom-module>

<dom-module theme-for="vaadin-text-area" id="colored-text-area">
    <template>
        <style>
            :host(.colored-text-area) [part="input-field"]{
                background:white;
            }
        </style>
    </template>
</dom-module>

<dom-module theme-for="vaadin-grid" id="my-grid">
    <template>
        <style>
            :host(.my-grid) [part="row"] :hover{
                background:var(--lumo-tint-60pct);
            }
            :host(.my-grid) [part="row"] [part~="header-cell"]{
            	padding-left: 3px;
                color:brown;
                background:var(--lumo-primary-color);
                align-items:flex-start;
            }
        	.warning-grid-cell {
          		color:var(--lumo-error-text-color);
        	}
        	.green-grid-cell {
          		color:var(--lumo-success-text-color);
        	}
        </style>
    </template>
</dom-module>

<dom-module theme-for="vaadin-form-item" id="custom-form-item">
    <template>
        <style>     
            :host {
                --vaadin-form-item-label-width: 10em;  
            }
        </style>
    </template>
</dom-module>

<dom-module theme-for="vaadin-upload" id="vaadin-upload">
    <template>
        <style>     
            :host [part="start-button"]{
                display:none;  
            }
        </style>
    </template>
</dom-module>

<dom-module id="left-align" theme-for="vaadin-button">
    <template>
        <style>
            :host(.left-align) .vaadin-button-container {
                justify-content: left;
            }
        </style>
    </template>
</dom-module>
